@{
    ViewData["Title"] = "Contato";
}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Entre em Contato</h5>
    <p class="card-text">Você pode me contatar através dos seguintes canais:</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Email:</strong> arthurgodoystacke@gmail.com</li>
    <li class="list-group-item"><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/seu-perfil" target="_blank">Arthur Godoy Stacke</a></li>
    <li class="list-group-item"><strong>Telefone:</strong> (51) 99886-2191</li>
  </ul>
</div>
