@{
    ViewData["Title"] = "Home dos cursos";
}

<div class="container">
    <div class="text-center">
        <h1>Arthur Godoy Stacke</h1>
        <h1 class="display-4">Catálogo de cursos:</h1>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Curso de Inglês</h5>
                <p class="card-text">Este curso de inglês tem como objetivo o aprimoramento da comunicação no idioma.</p>
                <a href="#" class="btn btn-primary">Saiba mais!</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Lógica de Programação</h5>
                <p class="card-text">O curso de Lógica de Programação visa ensinar os conceitos fundamentais para o desenvolvimento de software.</p>
                <a href="#" class="btn btn-primary">Saiba mais!</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Curso Técnico em Desenvolvimento de Sistemas</h5>
                <p class="card-text">Curso técnico focado em desenvolvimento de sistemas, onde aprendi a criar aplicações.</p>
                <a href="#" class="btn btn-primary">Saiba mais!</a>
            </div>
        </div>

    </div>
</div>
